* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bar {
  border: 1px solid black;
  /* background: peachpuff; */
  /* height: 100%; */
  min-width: 40px;
  place-self: end;
  margin-right: 5px;
}

main {
  display: flex;
  height: 100vh;
}

.short {
  background-color: hsl(35, 100%, 59%);
}

.med {
  background-color: hsl(50, 100%, 65%);
}

.tall {
  background-color: hsl(90, 100%, 70%);
}
